.kdash-app-layout {
  height: 100vh;

  &__sider {
    background: #33ccab;
    flex: 0 0 8em !important;
    max-width: 8em !important;
    min-width: 8em !important;
    width: 8em !important;

    @media screen and (max-width: 500px) {
      flex: 0 0 3em !important;
      max-width: 3em !important;
      min-width: 3em !important;
      width: 3em !important;
    }
  }
  &__layout {
    background: #33ccab;
  }
  &__header {
    background: rgb(61, 171, 147);
    background: linear-gradient(
      -90deg,
      rgba(61, 171, 147, 1) 27%,
      rgba(1, 236, 158, 1) 48%,
      #33ccab 75%
    );
  }
  &__content {
    background-color: #c2ebdd;
    border-radius: 30px 0 0 30px;
    line-height: 5em;
    min-height: 15em;
  }
  &__footer {
    background: rgb(61, 171, 147);
    background: linear-gradient(
      -90deg,
      rgba(61, 171, 147, 1) 27%,
      rgba(1, 236, 158, 1) 48%,
      #33ccab 75%
    );
  }
}
